.form-field {
    width: 200px;
    margin: auto;
    display: inline-block;
    align-items: center;
    padding: 10px;
  }

.tasks-list {
    margin: 10px;
}

.task-form{
    align-items: center;
}

.todo-card{
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
    align-items: center;
}

.list-viewport {
    height: 200px;
    width:auto;
    border: 2px solid #6A1B9A;
    border-radius: 2%;
}
