.form-field {
    width: 200px;
    margin: auto;
    display: inline-block;
    align-items: center;
    padding: 10px;
  }

.tasks-list {
    margin: 10px;
    
}

.todo-card{
    max-width: 400px;
}